---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Import partials from `sass_dir` (defaults to `_sass`) */
@import "master";
@import "grid";

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $serif;
  margin: 0;
  line-height: $base-line-height;
  font-size: $small-font-size;
}

@media (min-width: 330px) {
  body {
    font-size: $base-font-size;
  }
}

.container {
  margin: 0px auto;
  max-width: $content-width;
}

a, a img {
  -webkit-transition:  500ms ease-out;
  -moz-transition:  500ms ease-out;
  -o-transition:  500ms ease-out;
  transition:  500ms ease-out;
}

button {
  font-size: $base-font-size;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin: 6px 0px;
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
button:hover {
  background-color: $grey-color-light;
}

#top {
  position: relative;

  a:link, a:visited, a:link:active, a:visited:active {
    color: $text-color;
    text-decoration: underline;
    cursor: pointer;
  }

  a:hover {
    color: $link-color;
    text-decoration: none;
  }

  #brand {
    padding: 32px 0px 10px 0px;
    h1 {
      border-left: 14px solid $brand-color; // vertical bar
      padding-left: 12px;
      margin: 0;
      color: #111;
      font-family: $sans-serif;
      font-weight: 600;
    }
  }

  .icon {
    font-size: 3rem;
    float: right;
    margin: 0 6px;
  }

  #contact {
    margin-bottom: 72px;
  }

  #scroll {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 24px;
    font-family: $sans-serif;
    font-size: $small-font-size;
  }
}

@media (min-width: 550px) {
  #top {
    height: 100vh;

    #brand {
      padding: 144px 8px 0px 0px;
    }

    #bio {
      padding-top: 48px;
    }

    #scroll {
      display: block;
      position: absolute;
      bottom: 24px;
      left: 64px;
    }

  }
}

#bottom {
  background-color: #333;
  color: $background-color;
  margin: 0 auto;

  a:link, a:visited, a:link:active, a:visited:active {
    color: $background-color;
    text-decoration: underline;
    cursor: pointer;
  }

  a:hover {
    color: $link-color;
    text-decoration: none;

    img {
      opacity: 0.5;
    }
  }

  #projects {
    padding: 56px 8px 0px 0px;
    font-family: $sans-serif;
    font-weight: 600;
  }

  .bordered {
    border-top: 1px solid $background-color;
  }

  .section {
    margin-top: 16px;
    padding-top: 16px;

    .summary {
      width: 100%;
      overflow: auto;
      font-size: $small-font-size;

      .title {
        font-size: $base-font-size;
        margin-bottom: 0.5rem;
      }
      .thumb {
        max-width: 300px;
        margin: 4px 16px 16px 0px;
        float: left;
      }
      .desc {
      }
    }
  }

  .footer {
    padding-top: 48px;
    padding-bottom: 72px;
  }
}

@media (min-width: 550px) {
  #bottom {
    #projects {
      padding: 100px 8px 0px 0px;
    }

    .section {
      margin-top: 32px;
      padding-top: 32px;

      .title {
        font-size: $base-font-size * 1.4;
      }

      .thumb {
        margin: 4px 16px 16px 0px;
      }
    }
  }
}
